Data Cleaning and Preparing
===========================

<a id="1"></a>
1: Index
---------

- [1: Index](#1)
- [2: Types of Bad Data](#2)
- [3: Exploring a Dataset](#3)
  - [3.0: Setup](#3.0)
  - [3.1: Exploring a Subset](#3.1)
    - [3.1.1: Browse Data and Rename Columns](#3.1.1)
    - [3.1.2: Clean Globally](#3.1.2)
    - [3.1.3: Clean Military](#3.1.3)
    - [3.1.4: Clean Citizenship](#3.1.4)
    - [3.1.5: Clean Gender](#3.1.5)
    - [3.1.6: Save CSV](#3.1.6)
- [4: Dealing with Missing Data](#4)
- [5: Dealing with Duplicates](#5)
  - [5.1: Duplicated Rows](#5.1)
  - [5.2: Duplicated Columns](#5.2)
- [6: Infeasible and Extreme Data](#6)
  - [6.1: Impossible values](#6.1)
  - [6.2: Categorical Errors](#6.2)
  - [6.3: Extreme/Out of Range Values](#6.3)
  - [6.4: Outliers](#6.4)
  - [6.5: Saturated Data](#6.5)
- [7: Automating Data Preparation](#7)
  - [7.1: Testing](#7.1)
  - [7.2: Automation](#7.2)
- [8: Feature Selection](#8)

<a id="2"></a>
2: Types of Bad Data
--------------------

- Formatting errors (e.g. extra whitespace)
- Value errors (e.g., misspellings) (note according to Treehouse, misspellings are classified
  as "Formatting errors")
- Incorrect data type (e.g. numerical or string entries)
- Nonsensical data entries (e.g. age < 0)
- Duplicate entries (duplicate rows or columns)
- Missing data (e.g. NaN)
- Saturated data (e.g. value beyond a measurement limit)
- Systematic and individual errors (error affects many entries or only one)
- Confidential information (e.g. personally identifying or private information)

<a id="3"> </a>
3: Exploring a Dataset
----------------------

- [3.0: Setup](#3.0)
- [3.1: Exploring a Subset](#3.1)
  - [3.1.1: Browse Data and Rename Columns](#3.1.1)
  - [3.1.2: Clean Globally](#3.1.2)
  - [3.1.3: Clean Military](#3.1.3)
  - [3.1.4: Clean Citizenship](#3.1.4)
  - [3.1.5: Clean Gender](#3.1.5)
  - [3.1.6: Save CSV](#3.1.6)

<a id="3.0"> </a>
### 3.0: Setup ###

In [1]:
import os
import numpy as np
import pandas as pd

DATAPATH = os.path.join('thirdpartydata', 'cleaning-preparing-s1v4')

bodymeasures_filename = os.path.join(DATAPATH, 'BodyMeasures.csv')
demographics_filename = os.path.join(DATAPATH, 'Demographics.csv')
occupations_filename = os.path.join(DATAPATH, 'Occupations.csv')

In [2]:
# codebook URL: https://wwwn.cdc.gov/Nchs/Nhanes/1999-2000/BMX.htm
bodymeasures = pd.read_csv(bodymeasures_filename)
bodymeasures.head()

,SEQN,BMAEXLEN,BMAEXSTS,BMAEXCMT,BMXWT,BMIWT,BMXRECUM,BMIRECUM,BMXHEAD,BMIHEAD,...,BMAAMP,BMAUREXT,BMAUPREL,BMAULEXT,BMAUPLEL,BMALOREX,BMALORKN,BMALLEXT,BMALLKNE,RIDAGEYR
0,1,289.0,1.0,NaN,12.5,3.0,93.2,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
1,2,376.0,1.0,NaN,75.4,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77
2,3,199.0,1.0,NaN,32.9,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95
3,4,170.0,1.0,NaN,13.3,NaN,87.1,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,5,277.0,1.0,NaN,92.5,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49

In [3]:
bodymeasures.describe()

,SEQN,BMAEXLEN,BMAEXSTS,BMAEXCMT,BMXWT,BMIWT,BMXRECUM,BMIRECUM,BMXHEAD,BMIHEAD,...,BMAAMP,BMAUREXT,BMAUPREL,BMAULEXT,BMAUPLEL,BMALOREX,BMALORKN,BMALLEXT,BMALLKNE,RIDAGEYR
count,9278.000000,9266.000000,9266.000000,138.000000,9181.000000,253.000000,1079.000000,29.0,267.000000,1.0,...,9148.000000,3.0,0.0,3.0,0.0,3.0,3.0,3.000000,1.0,9278.000000
mean,4992.804592,261.712066,1.021368,25.905797,67.519987,2.976285,80.244486,1.0,41.319476,1.0,...,1.999672,2.0,NaN,2.0,NaN,1.0,2.0,1.666667,2.0,29.014766
std,2869.638216,80.976300,0.183440,37.109207,282.449524,1.174899,13.927584,0.0,2.980247,NaN,...,0.018107,0.0,NaN,0.0,NaN,0.0,0.0,0.577350,NaN,24.442185
min,1.000000,0.000000,1.000000,1.000000,-149.000000,1.000000,44.900000,1.0,15.500000,1.0,...,1.000000,2.0,NaN,2.0,NaN,1.0,2.0,1.000000,2.0,-69.000000
25%,2517.250000,211.000000,1.000000,2.000000,39.200000,3.000000,69.150000,1.0,39.500000,1.0,...,2.000000,2.0,NaN,2.0,NaN,1.0,2.0,1.500000,2.0,10.000000
50%,4988.500000,258.000000,1.000000,6.000000,63.000000,3.000000,81.300000,1.0,41.700000,1.0,...,2.000000,2.0,NaN,2.0,NaN,1.0,2.0,2.000000,2.0,19.000000
75%,7482.750000,307.000000,1.000000,56.000000,79.700000,3.000000,91.800000,1.0,43.150000,1.0,...,2.000000,2.0,NaN,2.0,NaN,1.0,2.0,2.000000,2.0,47.000000
max,9965.000000,909.000000,3.000000,99.000000,12870.000000,11.000000,110.300000,1.0,47.900000,1.0,...,2.000000,2.0,NaN,2.0,NaN,1.0,2.0,2.000000,2.0,109.000000

In [4]:
# codebook URL: https://wwwn.cdc.gov/Nchs/Nhanes/1999-2000/DEMO.htm
demographics = pd.read_csv(demographics_filename)
demographics.head()

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,RIDRETH2,...,WTIREP43,WTIREP44,WTIREP45,WTIREP46,WTIREP47,WTIREP48,WTIREP49,WTIREP50,WTIREP51,WTIREP52
0,1,1.0,Exam,2.0,Female,2.0,29.0,31.0,Non-Hispanic Black,2.0,...,10094.017100,9912.461855,9727.078709,10041.524113,9953.955984,9857.381983,9865.152486,10327.992682,9809.165049,10323.315747
1,2,1.0,Both,2.0,Male,77.0,926.0,926.0,Non-Hispanic White,1.0,...,27186.728682,27324.345051,28099.663528,27757.066921,28049.286048,26716.602006,26877.704909,27268.025234,27406.383620,26984.812909
2,3,1.0,Exam,1.0,Female,95.0,125.0,126.0,Non-Hispanic White,1.0,...,43993.193099,44075.386428,46642.563799,44967.681579,44572.482010,44087.945688,44831.370881,44480.987235,45389.112766,43781.905637
3,4,1.0,Both,2.0,Male,1.0,22.0,23.0,Non-Hispanic Black,2.0,...,10702.307249,10531.444441,10346.119327,10636.063039,0.000000,10533.108939,10654.749584,10851.024385,10564.981435,11012.529729
4,5,1.0,Both,2.0,Male,49.0,597.0,597.0,Non-Hispanic White,1.0,...,93164.782430,92119.608772,95388.490406,94131.383538,95297.809952,91325.082461,91640.586117,92817.926915,94282.855382,91993.251203

In [5]:
# codebook URL: https://wwwn.cdc.gov/Nchs/Nhanes/1999-2000/OCQ.htm
occupations = pd.read_csv(occupations_filename)
occupations.head()

,SEQN,OCQ130,OCQ150,OCQ160,OCQ180,OCQ210,OCD230,OCD240,OCQ260,OCD270,...,OCD390,OCD395,OCQ420,OCQ430,OCQ440,OCQ450,OCQ470G,OCD470,OCD480,RIAGENDR
0,2.0,NaN,2.0,2.0,NaN,1.0,38.0,13.0,1.0,168.0,...,9.0,300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
1,5.0,NaN,1.0,NaN,40.0,NaN,19.0,1.0,1.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male
2,6.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Female
3,7.0,NaN,1.0,NaN,45.0,NaN,27.0,23.0,1.0,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F
4,8.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M

In [6]:
# Make a dataset by joining demographics and bodymeasurements
dataset = pd.merge(demographics, bodymeasures, on='SEQN', how='inner') # CF 7.2 in the Pandas Notebook
dataset.head()

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR_x,RIDAGEMN,RIDAGEEX,RIDRETH1,RIDRETH2,...,BMAAMP,BMAUREXT,BMAUPREL,BMAULEXT,BMAUPLEL,BMALOREX,BMALORKN,BMALLEXT,BMALLKNE,RIDAGEYR_y
0,1,1.0,Exam,2.0,Female,2.0,29.0,31.0,Non-Hispanic Black,2.0,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
1,2,1.0,Both,2.0,Male,77.0,926.0,926.0,Non-Hispanic White,1.0,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77
2,3,1.0,Exam,1.0,Female,95.0,125.0,126.0,Non-Hispanic White,1.0,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95
3,4,1.0,Both,2.0,Male,1.0,22.0,23.0,Non-Hispanic Black,2.0,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,5,1.0,Both,2.0,Male,49.0,597.0,597.0,Non-Hispanic White,1.0,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49

In [7]:
# Write the dataset back out as a CSV
#dataset.to_csv('joined_demo_bmx.csv', index=False)

<a id="3.1"> </a>
### 3.1: Exploring a Subset ###

- [3.1.1: Browse Data and Rename Columns](#3.1.1)
- [3.1.2: Clean Globally](#3.1.2)
- [3.1.3: Clean Military](#3.1.3)
- [3.1.4: Clean Citizenship](#3.1.4)
- [3.1.5: Clean Gender](#3.1.5)
- [3.1.6: Save CSV](#3.1.6)

<a id="3.1.1"> </a>
#### 3.1.1: Browse Data and Rename Columns ####

In [8]:
# 'SEQN' = ID
# 'RIDAGEYR' = Age at Screening (should be capped at 85)
# 'RIAGENDR' = Gender
# 'DMQMILIT' = Veteran/Military Status
# 'DMDCITZN' = Citizenship Status
demo_subset = demographics.loc[:, ['SEQN', 'RIDAGEYR', 'RIAGENDR', 'DMQMILIT', 'DMDCITZN']]
demo_subset.rename(columns={'SEQN': 'ID', 'RIDAGEYR': 'Age', 'RIAGENDR': 'Gender', 'DMQMILIT': 'Military', 'DMDCITZN': 'Citizenship'}, inplace=True)
demo_subset.head()

   ID   Age  Gender Military                         Citizenship
0   1   2.0  Female      NaN  Citizen by birth or naturalization
1   2  77.0    Male        Y  Citizen by birth or naturalization
2   3  95.0  Female      NaN             Not a citizen of the US
3   4   1.0    Male      NaN  Citizen by birth or naturalization
4   5  49.0    Male      Yes  Citizen by birth or naturalization

<a id="3.1.2"> </a>
#### 3.1.2: Clean Globally ####

In [9]:
# Instead of cleaning whitespace on each column individually (original code left as comments 
# below), we can use the apply method to clean all relevant columns in one go:
text_columns = ['Gender', 'Military', 'Citizenship']
demo_subset[text_columns] = demo_subset[text_columns].apply(lambda x: x.str.strip())


# We can fix minor typos like 'Y' -> 'Yes', etc
BINARY_CORRECTION_MAP = {
    'Y': 'Yes',
    'N': 'No',
}
GENDER_CORRECTION_MAP = {
    'M': 'Male',
    'F': 'Female',
}
DONTKNOW_CORRECTION_MAP = {
    "Don't Know": "Don't know",
    "Dont know": "Don't know",
    "Unknown": "Don't know",
}

global_replacements = {
    **BINARY_CORRECTION_MAP,
    **GENDER_CORRECTION_MAP,
    **DONTKNOW_CORRECTION_MAP,
}

demo_subset.replace(
    {
        'Military': {**global_replacements},
        'Citizenship': {**global_replacements},
        'Gender': {**global_replacements},
    },
    inplace=True
)

<a id="3.1.3"> </a>
#### 3.1.3: Clean Military ####

In [10]:
unique_military = demo_subset['Military'].unique()
len(unique_military)

5

In [11]:
# 38 seems like a lot of unique values for military status
unique_military

array([nan, 'Yes', 'No', "Don't know", 'Refused'], dtype=object)

In [12]:
# we can see lots of duplicates (and many just have extraneous whitespace)
#demo_subset.loc[:, 'Military'] = demo_subset.loc[:, 'Military'].str.strip()

In [13]:
unique_military = demo_subset['Military'].unique()
len(unique_military)

5

In [14]:
unique_military

array([nan, 'Yes', 'No', "Don't know", 'Refused'], dtype=object)

In [15]:
#replace_dict = {'Military': {**BINARY_CORRECTION_MAP, **DONTKNOW_CORRECTION_MAP}}
#demo_subset.replace(replace_dict, inplace=True)

In [16]:
unique_military = demo_subset['Military'].unique()
len(unique_military)

5

In [17]:
# Success: We are down to the 5 truly different response values
unique_military

array([nan, 'Yes', 'No', "Don't know", 'Refused'], dtype=object)

In [18]:
# Replace unique string values with numeric codes:
replace_dict = {
    'Military': {
        'Yes': 1,
        'No': 2,
        'Refused': 7,
        "Don't know": 9,
    }
}
demo_subset.replace(replace_dict, inplace=True)
unique_military = demo_subset['Military'].unique()
unique_military

array([nan,  1.,  2.,  9.,  7.])

<a id="3.1.4"> </a>
#### 3.1.4: Clean Citizenship ####

In [19]:
# Let's repeat for citizenship (we'll strip whitespace before we even look at the values
#demo_subset.loc[:,'Citizenship'] = demo_subset.loc[:, 'Citizenship'].str.strip()
unique_citizenship = demo_subset['Citizenship'].unique()
unique_citizenship

array(['Citizen by birth or naturalization', 'Not a citizen of the US',
       'Refused', "Don't know", nan], dtype=object)

In [20]:
#replace_dict = {'Citizenship': {**DONTKNOW_CORRECTION_MAP}}
#demo_subset.replace(replace_dict, inplace=True)

In [21]:
unique_citizenship = demo_subset['Citizenship'].unique()
unique_citizenship

array(['Citizen by birth or naturalization', 'Not a citizen of the US',
       'Refused', "Don't know", nan], dtype=object)

In [22]:
# Replace unique string values with numeric codes:
replace_dict = {
    'Citizenship': {
        'Citizen by birth or naturalization': 1,
        'Not a citizen of the US': 2,
        'Refused': 7,
        "Don't know": 9,
    }
}
demo_subset.replace(replace_dict, inplace=True)
unique_citizenship = demo_subset['Citizenship'].unique()
unique_citizenship

array([ 1.,  2.,  7.,  9., nan])

<a id="3.1.5"> </a>
#### 3.1.5: Clean Gender ####

In [23]:
#demo_subset.loc[:, 'Gender'] = demo_subset.loc[:, 'Gender'].str.strip()
unique_gender = demo_subset['Gender'].unique()
unique_gender

array(['Female', 'Male', nan], dtype=object)

In [24]:
#replace_dict = {'Gender': {**GENDER_CORRECTION_MAP}}
#demo_subset.replace(replace_dict, inplace=True)

In [25]:
unique_gender = demo_subset['Gender'].unique()
unique_gender

array(['Female', 'Male', nan], dtype=object)

In [26]:
# Replace unique string values with numeric codes:
replace_dict = {
    'Gender': {
        'Male': 1,
        'Female': 2,
    }
}
demo_subset.replace(replace_dict, inplace=True)
unique_gender = demo_subset['Gender'].unique()
unique_gender

array([ 2.,  1., nan])

<a id="3.1.6"> </a>
#### 3.1.6: Save CSV ####

In [27]:
#demo_subset.to_csv('demo_subset.csv', index=False)

<a id="4"> </a>
4: Dealing with Missing Data
----------------------------

In [28]:
total_entries = len(demo_subset.index)
valid_entries = demo_subset.count()
missing_data_c = total_entries - valid_entries
missing_data_c

ID                0
Age             209
Gender          211
Military       4607
Citizenship     212
dtype: int64

In [29]:
missing_percentage = missing_data_c / total_entries * 100
missing_percentage.sort_values(ascending=False).head()

Military       43.519743
Citizenship     2.002645
Gender          1.993199
Age             1.974306
ID              0.000000
dtype: float64

In [30]:
missing_data_r = np.sum(demo_subset.isnull(), axis=1)
missing_data_r

0        1
1        0
2        1
3        1
4        0
        ..
10581    0
10582    0
10583    0
10584    0
10585    1
Length: 10586, dtype: int64

In [31]:
demo_subset

         ID   Age  Gender  Military  Citizenship
0         1   2.0     2.0       NaN          1.0
1         2  77.0     1.0       1.0          1.0
2         3  95.0     2.0       NaN          2.0
3         4   1.0     1.0       NaN          1.0
4         5  49.0     1.0       1.0          1.0
...     ...   ...     ...       ...          ...
10581  2774  17.0     2.0       2.0          1.0
10582  7696  56.0     2.0       2.0          2.0
10583   868  18.0     1.0       2.0          1.0
10584  6810  31.0     2.0       2.0          2.0
10585  8190  19.0     1.0       NaN          1.0

[10586 rows x 5 columns]

In [32]:
print('Demographics:')
print(demographics.dtypes.head())

print('\nBody Measures:')
print(bodymeasures.dtypes.head())

Demographics:
SEQN          int64
SDDSRVYR    float64
RIDSTATR     object
RIDEXMON    float64
RIAGENDR     object
dtype: object

Body Measures:
SEQN          int64
BMAEXLEN    float64
BMAEXSTS    float64
BMAEXCMT    float64
BMXWT       float64
dtype: object

In [33]:
# Convert string to integer
# bmx.loc[:, 'SEQN'] = pd.to_numeric(bmx['SEQN'], downcast='integer')
#
# if the data contains values that cannot be parsed as numbers, use the `errors` parameter:
# bmx.loc[:, 'SEQN'] = pd.to_numeric(bmx['SEQN'], downcast='integer', errors='coerce')
#
# WARNING: in the example above, even though we specified `downcast='integer'` the `dtype` of
# the field will be `float64` if there were any coerced strings (which were coerced to NaN),
# since NaN is considered a float
#
# In that case we could instead do the following:
# 1. Get the index for each row where the ID is not a number
# ind = np.isnan(bmx['SEQN'])
#
# 2. Drop the rows with non-numeric IDs
# bmx = bmx.loc[~ind,:]
#
# 3. Finally, convert the field to integer
# bmx.loc[:, 'SEQN'] = pd.to_numeric(bmx['SEQN'])

In [34]:
minors_mask = demo_subset.loc[:, 'Age'] < 18
# Remove information for minors by setting the following fields to NaN
demo_subset.loc[minors_mask, ['Gender', 'Military', 'Citizenship']] = np.nan

In [35]:
demo_subset

         ID   Age  Gender  Military  Citizenship
0         1   2.0     NaN       NaN          NaN
1         2  77.0     1.0       1.0          1.0
2         3  95.0     2.0       NaN          2.0
3         4   1.0     NaN       NaN          NaN
4         5  49.0     1.0       1.0          1.0
...     ...   ...     ...       ...          ...
10581  2774  17.0     NaN       NaN          NaN
10582  7696  56.0     2.0       2.0          2.0
10583   868  18.0     1.0       2.0          1.0
10584  6810  31.0     2.0       2.0          2.0
10585  8190  19.0     1.0       NaN          1.0

[10586 rows x 5 columns]

In [36]:
# Find the column with the largest proportion of missing rows

In [37]:
valid_entries = demographics.count()
total_rows = len(demographics.index)
missing_data = total_rows - valid_entries
missing_proportion = missing_data / total_rows
missing_proportion.head()

SEQN        0.000000
SDDSRVYR    0.019932
RIDSTATR    0.019743
RIDEXMON    0.086907
RIAGENDR    0.019932
dtype: float64

In [38]:
missing_proportion.sort_values(ascending=False).index[0]

'DMARACE'

In [39]:
# Pandas has a built-in df and series method to do what we just did in the line above
missing_proportion.idxmax()

'DMARACE'

<a id="5"> </a>
5: Dealing with Duplicates
--------------------------

- [5.1: Duplicated Rows](#5.1)
- [5.2: Duplicated Columns](#5.2)

<a id="5.1"> </a>
### 5.1: Duplicated Rows ###

In [40]:
# `keep`
# ------
# - `'first'` (default): Mark duplicates as True except first occurrence
# - `'last'`: Mark duplicates as True except last occurrence
# - `False`: Mark all duplicates as True
duplicates_mask = demographics['SEQN'].duplicated(keep=False)
print(f'Number of duplicated rows: {len(demographics.loc[duplicates_mask,:])}')
demographics.loc[duplicates_mask,:].sort_values('SEQN').head()

Number of duplicated rows: 1213

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,RIDRETH2,...,WTIREP43,WTIREP44,WTIREP45,WTIREP46,WTIREP47,WTIREP48,WTIREP49,WTIREP50,WTIREP51,WTIREP52
14,15,1.0,exam,1.0,Female,38.0,459.0,460.0,Non-Hispanic White,1.0,...,110651.142444,109666.993353,113803.429690,112123.984382,113109.089839,108722.224537,109264.251804,110186.143135,112750.496899,110008.647960
10491,15,1.0,exam,1.0,Female,38.0,459.0,460.0,Non-Hispanic White,1.0,...,110651.142444,109666.993353,113803.429690,33314.865599,113109.089839,108722.224537,109264.251804,110186.143135,112750.496899,110008.647960
10102,42,1.0,Both,2.0,Female,18.0,223.0,224.0,Non-Hispanic Black,2.0,...,9118.858665,9139.612368,8948.540469,9083.673929,0.000000,9095.898010,9290.163552,9459.795274,9312.800370,9518.027784
9991,42,1.0,Both,2.0,Female,18.0,223.0,224.0,Non-Hispanic Black,2.0,...,9118.858665,9139.612368,8948.540469,9083.673929,0.000000,9095.898010,9290.163552,9459.795274,9312.800370,9518.027784
41,42,1.0,Both,2.0,Female,18.0,223.0,224.0,Non-Hispanic Black,2.0,...,9118.858665,9139.612368,8948.540469,9083.673929,0.000000,9095.898010,9290.163552,9459.795274,9312.800370,9518.027784

In [41]:
# We can use `drop_duplicates` to remove perfect duplicates (i.e., rows where every value in 
# every column is the same)
demographics.drop_duplicates(inplace=True)

# Check how many duplicates remain:
duplicates_mask = demographics['SEQN'].duplicated(keep=False)
print(f'Number of duplicated rows: {len(demographics.loc[duplicates_mask,:])}')
demographics.loc[duplicates_mask,:].sort_values('SEQN').head()

Number of duplicated rows: 814

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,RIDRETH2,...,WTIREP43,WTIREP44,WTIREP45,WTIREP46,WTIREP47,WTIREP48,WTIREP49,WTIREP50,WTIREP51,WTIREP52
14,15,1.0,exam,1.0,Female,38.0,459.0,460.0,Non-Hispanic White,1.0,...,110651.142444,109666.993353,113803.429690,112123.984382,113109.089839,108722.224537,109264.251804,110186.143135,112750.496899,110008.647960
10491,15,1.0,exam,1.0,Female,38.0,459.0,460.0,Non-Hispanic White,1.0,...,110651.142444,109666.993353,113803.429690,33314.865599,113109.089839,108722.224537,109264.251804,110186.143135,112750.496899,110008.647960
10307,57,NaN,Both,2.0,NaN,39.0,475.0,476.0,Non-Hispanic White,1.0,...,93148.702889,NaN,NaN,NaN,NaN,NaN,NaN,92801.907240,94266.582871,91977.373860
56,57,1.0,NaN,NaN,Male,NaN,NaN,NaN,NaN,NaN,...,NaN,92103.709621,95372.027071,94115.137170,95281.362267,91309.320440,91624.769642,NaN,NaN,NaN
59,60,1.0,Exam,2.0,Male,5.0,70.0,71.0,Non-Hispanic White,1.0,...,41858.569852,41576.241533,43040.796615,43167.384386,42922.779884,41775.622676,0.000000,42091.705803,42039.843678,41556.080118

In [42]:
# Some entries might be identical but missing different values. In this case, the 
# drop_duplicates method won't find these duplicates. We first need to combine the values
# from the incomplete duplicates to make complete records and then remove duplicates
import itertools
duplicate_ids = demographics.loc[duplicates_mask, 'SEQN'].unique()
duplicate_ids

array([  15,   57,   60,   79,   83,  105,  147,  151,  160,  206,  219,
        225,  233,  262,  263,  295,  303,  383,  385,  395,  478,  481,
        524,  575,  588,  620,  646,  652,  690,  703,  715,  781,  806,
        826,  830,  838,  863,  868,  869,  967,  990, 1044, 1071, 1080,
       1116, 1129, 1164, 1234, 1282, 1331, 1336, 1360, 1377, 1431, 1448,
       1493, 1494, 1503, 1517, 1528, 1544, 1547, 1575, 1599, 1606, 1613,
       1619, 1639, 1646, 1650, 1667, 1682, 1694, 1696, 1718, 1720, 1782,
       1784, 1820, 1828, 1902, 1906, 1909, 1947, 2026, 2036, 2043, 2047,
       2078, 2109, 2140, 2156, 2204, 2206, 2237, 2286, 2295, 2302, 2315,
       2331, 2351, 2485, 2500, 2518, 2523, 2529, 2573, 2610, 2672, 2706,
       2718, 2730, 2734, 2743, 2765, 2769, 2774, 2782, 2810, 2866, 2949,
       2981, 3106, 3115, 3142, 3150, 3158, 3171, 3173, 3233, 3283, 3290,
       3311, 3329, 3345, 3346, 3360, 3367, 3377, 3429, 3461, 3561, 3573,
       3574, 3587, 3604, 3619, 3620, 3643, 3649, 3737, 3763, 3811, 3819,
       3863, 3910, 3917, 3956, 3976, 4148, 4152, 4166, 4206, 4211, 4213,
       4235, 4266, 4274, 4317, 4376, 4423, 4426, 4438, 4461, 4477, 4515,
       4527, 4533, 4558, 4559, 4560, 4561, 4571, 4589, 4613, 4641, 4649,
       4676, 4720, 4725, 4744, 4761, 4762, 4777, 4810, 4820, 4895, 4906,
       4957, 4977, 4987, 5001, 5015, 5039, 5047, 5079, 5096, 5106, 5121,
       5159, 5167, 5173, 5195, 5199, 5282, 5298, 5307, 5315, 5391, 5416,
       5442, 5568, 5578, 5589, 5617, 5630, 5659, 5704, 5714, 5719, 5743,
       5764, 5788, 5811, 5833, 5857, 5884, 5910, 5940, 5947, 6041, 6075,
       6151, 6214, 6225, 6253, 6276, 6312, 6358, 6373, 6492, 6500, 6564,
       6592, 6665, 6671, 6675, 6679, 6725, 6787, 6810, 6815, 6821, 6835,
       6846, 6890, 6892, 6900, 6905, 6939, 6973, 6998, 7010, 7024, 7038,
       7060, 7062, 7065, 7081, 7089, 7124, 7209, 7235, 7236, 7242, 7246,
       7272, 7297, 7310, 7367, 7369, 7405, 7416, 7418, 7444, 7460, 7504,
       7545, 7547, 7549, 7552, 7560, 7575, 7611, 7654, 7658, 7693, 7696,
       7743, 7751, 7769, 7799, 7823, 7827, 7852, 7881, 7884, 7891, 7908,
       7910, 7918, 7925, 7945, 7986, 8054, 8129, 8131, 8133, 8149, 8164,
       8169, 8188, 8190, 8233, 8237, 8241, 8318, 8319, 8366, 8379, 8380,
       8405, 8430, 8493, 8505, 8538, 8612, 8652, 8708, 8741, 8763, 8780,
       8785, 8790, 8855, 8878, 8890, 8964, 9014, 9029, 9045, 9073, 9088,
       9207, 9220, 9233, 9237, 9249, 9251, 9352, 9357, 9362, 9377, 9404,
       9408, 9447, 9484, 9497, 9503, 9509, 9526, 9528, 9558, 9579, 9597,
       9608, 9612, 9623, 9648, 9651, 9653, 9670, 9693, 9714, 9718, 9737,
       9773, 9793, 9807, 9828, 9874, 9899])

In [43]:
# Note this method is VERY slow and inefficient

# iterate through every id that has duplicates
for duplicate_id in duplicate_ids:
    # get an array of all the row indices with the current id
    duplicate_rows = np.where(demographics['SEQN'] == duplicate_id)[0]  # the array is the first element in a tuple
    
    # create a cartesian product of all the duplicated rows, and fill the data pairwise
    # e.g., suppose we had three duplicates: A, B, C; `itertools.product` would create the
    # cartesian product: [(A, A), (A, B), (A, C), (B, A), (B, B), (B, C), (C, A), (C, B), (C, C)]
    # (observe that every duplicate gets compared with every other duplicate)
    for (left, right) in itertools.product(duplicate_rows, repeat=2):
        
        # For every na value in the left row, replace with the corresponding value from the right row
        demographics.iloc[left,:] = demographics.iloc[left,:].fillna(demographics.iloc[right,:])

In [44]:
demographics.drop_duplicates(inplace=True)

# Check how many duplicates remain:
duplicates_mask = demographics['SEQN'].duplicated(keep=False)
print(f'Number of duplicated rows: {len(demographics.loc[duplicates_mask,:])}')
demographics.loc[duplicates_mask,:].sort_values('SEQN').head()

Number of duplicated rows: 412

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,RIDRETH2,...,WTIREP43,WTIREP44,WTIREP45,WTIREP46,WTIREP47,WTIREP48,WTIREP49,WTIREP50,WTIREP51,WTIREP52
14,15,1.0,exam,1.0,Female,38.0,459.0,460.0,Non-Hispanic White,1.0,...,110651.142444,109666.993353,113803.429690,112123.984382,113109.089839,108722.224537,109264.251804,110186.143135,112750.496899,110008.647960
10491,15,1.0,exam,1.0,Female,38.0,459.0,460.0,Non-Hispanic White,1.0,...,110651.142444,109666.993353,113803.429690,33314.865599,113109.089839,108722.224537,109264.251804,110186.143135,112750.496899,110008.647960
59,60,1.0,Exam,2.0,Male,5.0,70.0,71.0,Non-Hispanic White,1.0,...,41858.569852,41576.241533,43040.796615,43167.384386,42922.779884,41775.622676,0.000000,42091.705803,42039.843678,41556.080118
10392,60,1.0,Exam,1.0,Male,5.0,70.0,71.0,Non-Hispanic White,1.0,...,41858.569852,41576.241533,43040.796615,12698.465159,20321.432353,41775.622676,0.000000,42091.705803,42039.843678,41556.080118
82,83,1.0,exam,2.0,Female,60.0,731.0,731.0,Non-Hispanic Black,2.0,...,10840.799501,10774.881528,10553.677856,10816.699831,10998.350416,10902.784484,10863.252191,10954.274380,10864.016537,0.000000

In [45]:
# The remaining duplicates have conflicting values, for example `SEQN` 60 has two different 
# values for `RIDEXMON`.
# Since we have no way of ascertaining which of the duplicated values is the correct one, the
# safest thing is to drop all records with conflicting values:
duplicates_mask = demographics['SEQN'].duplicated(keep=False)
demographics = demographics.loc[~duplicates_mask,:]

In [46]:
# Check how many duplicates remain:
duplicates_mask = demographics['SEQN'].duplicated(keep=False)
print(f'Number of duplicated rows: {len(demographics.loc[duplicates_mask,:])}')
demographics.loc[duplicates_mask,:].sort_values('SEQN').head()

Number of duplicated rows: 0

Empty DataFrame
Columns: [SEQN, SDDSRVYR, RIDSTATR, RIDEXMON, RIAGENDR, RIDAGEYR, RIDAGEMN, RIDAGEEX, RIDRETH1, RIDRETH2, DMQMILIT, DMDBORN, DMDCITZN, DMDYRSUS, DMDEDUC3, DMDEDUC2, DMDEDUC, DMDSCHOL, DMDMARTL, DMDHHSIZ, INDHHINC, INDFMINC, INDFMPIR, RIDEXPRG, RIDPREG, DMDHRGND, DMDHRAGE, DMDHRBRN, DMDHREDU, DMDHRMAR, DMDHSEDU, WTINT2YR, WTINT4YR, WTMEC2YR, WTMEC4YR, SDMVPSU, SDMVSTRA, SDJ1REPN, DMAETHN, DMARACE, WTMREP01, WTMREP02, WTMREP03, WTMREP04, WTMREP05, WTMREP06, WTMREP07, WTMREP08, WTMREP09, WTMREP10, WTMREP11, WTMREP12, WTMREP13, WTMREP14, WTMREP15, WTMREP16, WTMREP17, WTMREP18, WTMREP19, WTMREP20, WTMREP21, WTMREP22, WTMREP23, WTMREP24, WTMREP25, WTMREP26, WTMREP27, WTMREP28, WTMREP29, WTMREP30, WTMREP31, WTMREP32, WTMREP33, WTMREP34, WTMREP35, WTMREP36, WTMREP37, WTMREP38, WTMREP39, WTMREP40, WTMREP41, WTMREP42, WTMREP43, WTMREP44, WTMREP45, WTMREP46, WTMREP47, WTMREP48, WTMREP49, WTMREP50, WTMREP51, WTMREP52, WTIREP01, WTIREP02, WTIREP03, WTIREP04, WTIREP05, WTIREP06, WTIREP07, WTIREP08, ...]
Index: []

[0 rows x 144 columns]

<a id="5.2"> </a>
### 5.2: Duplicated Columns ###

In [47]:
# Let's see which, if any, columns are in both demographics and bodymeasures
set(demographics.columns).intersection(bodymeasures.columns)

{'RIDAGEYR', 'SEQN'}

In [48]:
# `RIDAGEYR` is age. Age should only be in demographics, not in body measures
bodymeasures.drop(columns='RIDAGEYR', inplace=True)

# Now verify that only `SEQN` is in both tables
set(demographics.columns).intersection(bodymeasures.columns)

{'SEQN'}

In [49]:
# We could now safely merge demographics and bodymeasures
merged = pd.merge(demographics, bodymeasures, on='SEQN', how='inner')

In [50]:
merged.head()

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,RIDRETH2,...,BMISUB,BMAAMP,BMAUREXT,BMAUPREL,BMAULEXT,BMAUPLEL,BMALOREX,BMALORKN,BMALLEXT,BMALLKNE
0,1,1.0,Exam,2.0,Female,2.0,29.0,31.0,Non-Hispanic Black,2.0,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1.0,Both,2.0,Male,77.0,926.0,926.0,Non-Hispanic White,1.0,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1.0,Exam,1.0,Female,95.0,125.0,126.0,Non-Hispanic White,1.0,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1.0,Both,2.0,Male,1.0,22.0,23.0,Non-Hispanic Black,2.0,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1.0,Both,2.0,Male,49.0,597.0,597.0,Non-Hispanic White,1.0,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<a id="6"> </a>
6: Infeasible and Extreme Data
------------------------------
- [6.1: Impossible values](#6.1)
- [6.2: Categorical Errors](#6.2)
- [6.3: Extreme/Out of Range Values](#6.3)
- [6.4: Outliers](#6.4)
- [6.5: Saturated Data](#6.5)

<a id="6.1"> </a>
### 6.1: Impossible Values ###

In [51]:
# Example, a person cannot have a negative weight
bodymeasures['BMXWT'].describe()  # we can see that there is at least one entry where the value is negative

count     9181.000000
mean        67.519987
std        282.449524
min       -149.000000
25%         39.200000
50%         63.000000
75%         79.700000
max      12870.000000
Name: BMXWT, dtype: float64

In [52]:
# Let's look at all such entries
subzero_mask = bodymeasures.BMXWT < 0
bodymeasures[subzero_mask]

,SEQN,BMAEXLEN,BMAEXSTS,BMAEXCMT,BMXWT,BMIWT,BMXRECUM,BMIRECUM,BMXHEAD,BMIHEAD,...,BMISUB,BMAAMP,BMAUREXT,BMAUPREL,BMAULEXT,BMAUPLEL,BMALOREX,BMALORKN,BMALLEXT,BMALLKNE
1962,2128,210.0,1.0,NaN,-26.30,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3418,3698,256.0,1.0,NaN,-48.14,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4023,4334,311.0,1.0,NaN,-96.50,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4060,4373,349.0,1.0,NaN,-96.40,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6480,6959,312.0,1.0,NaN,-99.44,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6762,7266,349.0,1.0,NaN,-149.00,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
# Replace all such values with NaN
bodymeasures.loc[subzero_mask, 'BMXWT'] = np.nan

In [54]:
# Now look at the summary again
bodymeasures.BMXWT.describe()

count     9175.000000
mean        67.620357
std        282.512782
min          3.100000
25%         39.300000
50%         63.000000
75%         79.800000
max      12870.000000
Name: BMXWT, dtype: float64

<a id="6.2"> </a>
### 6.2: Categorical Errors ###

In [55]:
# For example, looking at Weight Comment, the codebook specifies 4 possible values:
# 1: Could not obtain;
# 2: Exceeds capacity;
# 3: Clothing;
# 4: Medical appliance;
# (and NaN for missing values)
bodymeasures.BMIWT.unique()

array([ 3., nan,  4.,  1., 11.,  7.])

In [56]:
# Here we see that some entries have been coded 7 or 11, which are not valid categories
category_mask = bodymeasures.BMIWT > 4
bodymeasures[category_mask]

,SEQN,BMAEXLEN,BMAEXSTS,BMAEXCMT,BMXWT,BMIWT,BMXRECUM,BMIRECUM,BMXHEAD,BMIHEAD,...,BMISUB,BMAAMP,BMAUREXT,BMAUPREL,BMAULEXT,BMAUPLEL,BMALOREX,BMALORKN,BMALLEXT,BMALLKNE
531,591,265.0,1.0,NaN,58.3,11.0,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1978,2145,261.0,1.0,NaN,79.8,11.0,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2576,2790,239.0,1.0,NaN,79.8,7.0,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4548,4892,263.0,1.0,NaN,83.6,7.0,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7811,8386,244.0,1.0,NaN,37.3,11.0,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
# Replace all such values with NaN
bodymeasures.loc[category_mask, 'BMIWT'] = np.nan

# Recheck values
category_mask = bodymeasures.BMIWT > 4
bodymeasures[category_mask]

Empty DataFrame
Columns: [SEQN, BMAEXLEN, BMAEXSTS, BMAEXCMT, BMXWT, BMIWT, BMXRECUM, BMIRECUM, BMXHEAD, BMIHEAD, BMXHT, BMIHT, BMXBMI, BMXLEG, BMILEG, BMXCALF, BMICALF, BMXARML, BMIARML, BMXARMC, BMIARMC, BMXWAIST, BMIWAIST, BMXTHICR, BMITHICR, BMXTRI, BMITRI, BMXSUB, BMISUB, BMAAMP, BMAUREXT, BMAUPREL, BMAULEXT, BMAUPLEL, BMALOREX, BMALORKN, BMALLEXT, BMALLKNE]
Index: []

[0 rows x 38 columns]

<a id="6.3"> </a>
### 6.3: Extreme/Out of Range Values ###

In [58]:
# Let's look at weight again
bodymeasures['BMXWT'].describe()

count     9175.000000
mean        67.620357
std        282.512782
min          3.100000
25%         39.300000
50%         63.000000
75%         79.800000
max      12870.000000
Name: BMXWT, dtype: float64

In [59]:
# At least one person is listed as having a weight of 12.9 metric tonnes. This cannot be
# valid.
# The heaviest person ever recorded was 635kg. We will assume that any weight entries greater
# than this are errors.
MAX_WEIGHT = 635
weightmax_mask = bodymeasures.BMXWT > MAX_WEIGHT
bodymeasures[weightmax_mask]

,SEQN,BMAEXLEN,BMAEXSTS,BMAEXCMT,BMXWT,BMIWT,BMXRECUM,BMIRECUM,BMXHEAD,BMIHEAD,...,BMISUB,BMAAMP,BMAUREXT,BMAUPREL,BMAULEXT,BMAUPLEL,BMALOREX,BMALORKN,BMALLEXT,BMALLKNE
124,135,409.0,1.0,NaN,5510.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
880,964,315.0,1.0,NaN,7090.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
896,980,271.0,1.0,NaN,11810.0,NaN,NaN,NaN,NaN,NaN,...,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1335,1451,409.0,1.0,NaN,1430.0,NaN,96.8,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1375,1493,233.0,1.0,NaN,12870.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4050,4363,253.0,1.0,NaN,1360.0,NaN,94.3,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4413,4751,396.0,1.0,NaN,12554.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4856,5221,356.0,1.0,NaN,5790.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8248,8864,241.0,2.0,6.0,12340.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
bodymeasures.loc[weightmax_mask, 'BMXWT'] = np.nan

bodymeasures['BMXWT'].describe()

count    9166.000000
mean       59.967574
std        29.841072
min         3.100000
25%        39.200000
50%        63.000000
75%        79.600000
max       193.300000
Name: BMXWT, dtype: float64

<a id="6.4"> </a>
### 6.4: Outliers ###

Outliers are not necessary incorrect, in which case removing them would remove legitimate data and introduce bias. However, we do want to identify outliers.

In [61]:
# Let's find the z-score (# standard deviations from the mean) of the lowest and highest values
mean_wt = np.nanmean(bodymeasures.BMXWT)
std_wt = np.nanstd(bodymeasures.BMXWT)
min_wt = np.nanmin(bodymeasures.BMXWT)
max_wt = np.nanmax(bodymeasures.BMXWT)

low_wt_zscore = (min_wt - mean_wt) / std_wt
high_wt_zscore = (max_wt - mean_wt) / std_wt

print( low_wt_zscore )
print( high_wt_zscore )

-1.905785256469405
4.468328013497096

<a id="6.5"> </a>
### 6.5: Saturated Data ###

In [62]:
# We know from the codebook that ages 85 and over are topcoded at 85
# Thus any value > 85 is incorrect, and any value == 85 is saturated
max_age = np.nanmax(demographics.RIDAGEYR)

age_mask = demographics.RIDAGEYR > 85
demographics[age_mask]

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,RIDRETH2,...,WTIREP43,WTIREP44,WTIREP45,WTIREP46,WTIREP47,WTIREP48,WTIREP49,WTIREP50,WTIREP51,WTIREP52
2,3,1.0,Exam,1.0,Female,95.0,125.0,126.0,Non-Hispanic White,1.0,...,43993.193099,44075.386428,46642.563799,44967.681579,44572.482010,44087.945688,44831.370881,44480.987235,45389.112766,43781.905637
2518,2519,1.0,Both,2.0,Male,103.0,167.0,171.0,Non-Hispanic White,1.0,...,65205.582912,66697.698374,68753.196442,66511.689165,66963.711142,65276.256929,66462.199596,65844.480121,66786.805379,64697.369340
2804,2805,1.0,Exam,2.0,Female,92.0,4.0,5.0,Non-Hispanic White,1.0,...,19703.691220,19768.528033,20251.991653,0.000000,19811.852195,19631.498136,19809.864650,19699.759843,19943.782217,19558.144011
2905,2906,1.0,Exam,1.0,Female,103.0,799.0,799.0,Non-Hispanic Black,2.0,...,12157.724627,12083.799030,11835.723847,12130.697362,12334.414605,12227.239459,12182.904838,12284.984275,12183.762035,12917.307420
3201,3202,1.0,Both,2.0,Male,103.0,967.0,968.0,Non-Hispanic Black,2.0,...,9187.345128,9080.023080,8986.031938,9369.506905,9501.816854,9075.378231,9268.661330,9313.423583,9145.223146,0.000000
3539,3540,1.0,exam,2.0,Male,87.0,11.0,12.0,Mexican American,3.0,...,2169.959959,2128.801437,2128.801437,2150.382372,2173.265526,2260.477542,2136.463309,2144.124165,2128.801437,2128.801437
6006,6007,1.0,Exam,2.0,Female,89.0,98.0,99.0,Non-Hispanic Black,2.0,...,9514.341959,9546.152415,9318.767931,9493.772915,9671.821321,9498.674311,9696.457245,9805.370221,9732.910624,0.000000
7926,7927,1.0,Exam,1.0,Female,109.0,929.0,930.0,Non-Hispanic White,1.0,...,47688.488130,48213.597041,49879.678868,49152.353166,49217.799507,47224.199855,47340.856093,47782.976887,48269.267217,47725.380232
8185,8186,1.0,Both,2.0,Male,99.0,891.0,891.0,Non-Hispanic White,1.0,...,27548.975362,27688.425385,28474.074511,28126.913012,28423.025782,27072.584532,27235.834034,27631.355140,27771.557068,27344.369183
8491,8492,1.0,Both Interviewed and MEC examined,2.0,Female,105.0,1002.0,1003.0,Non-Hispanic White,1.0,...,21811.797393,22051.972111,22814.005899,22481.341110,22511.275007,21599.440865,21652.797185,21855.014733,22077.434579,21828.671131

In [63]:
demographics.loc[age_mask, 'RIDAGEYR'] = 85

In [64]:
age_mask = demographics.RIDAGEYR > 85
demographics[age_mask]

Empty DataFrame
Columns: [SEQN, SDDSRVYR, RIDSTATR, RIDEXMON, RIAGENDR, RIDAGEYR, RIDAGEMN, RIDAGEEX, RIDRETH1, RIDRETH2, DMQMILIT, DMDBORN, DMDCITZN, DMDYRSUS, DMDEDUC3, DMDEDUC2, DMDEDUC, DMDSCHOL, DMDMARTL, DMDHHSIZ, INDHHINC, INDFMINC, INDFMPIR, RIDEXPRG, RIDPREG, DMDHRGND, DMDHRAGE, DMDHRBRN, DMDHREDU, DMDHRMAR, DMDHSEDU, WTINT2YR, WTINT4YR, WTMEC2YR, WTMEC4YR, SDMVPSU, SDMVSTRA, SDJ1REPN, DMAETHN, DMARACE, WTMREP01, WTMREP02, WTMREP03, WTMREP04, WTMREP05, WTMREP06, WTMREP07, WTMREP08, WTMREP09, WTMREP10, WTMREP11, WTMREP12, WTMREP13, WTMREP14, WTMREP15, WTMREP16, WTMREP17, WTMREP18, WTMREP19, WTMREP20, WTMREP21, WTMREP22, WTMREP23, WTMREP24, WTMREP25, WTMREP26, WTMREP27, WTMREP28, WTMREP29, WTMREP30, WTMREP31, WTMREP32, WTMREP33, WTMREP34, WTMREP35, WTMREP36, WTMREP37, WTMREP38, WTMREP39, WTMREP40, WTMREP41, WTMREP42, WTMREP43, WTMREP44, WTMREP45, WTMREP46, WTMREP47, WTMREP48, WTMREP49, WTMREP50, WTMREP51, WTMREP52, WTIREP01, WTIREP02, WTIREP03, WTIREP04, WTIREP05, WTIREP06, WTIREP07, WTIREP08, ...]
Index: []

[0 rows x 144 columns]

<a id="7"> </a>
7: Automating Data Preparation
------------------------------

- [7.1: Testing](#7.1)
- [7.2: Automation](#7.2)

<a id="7.1"> </a>
### 7.1: Testing ###

In [68]:
# Test that array shapes are as expected
np.testing.assert_array_equal(demographics.shape, (9760, 144))
np.testing.assert_array_equal(bodymeasures.shape, (9278, 38))
np.testing.assert_array_equal(occupations.shape, (7749, 37))

(7749, 37)

In [71]:
# Test that the joined dataframe has the correct number of columns
dataset = pd.merge(demographics, bodymeasures, on='SEQN', how='inner')
dataset = pd.merge(dataset, occupations, on='SEQN', how='inner')

expected_total_columns = (demographics.shape[1]
                       + bodymeasures.shape[1]
                       + occupations.shape[1]
                       - 2)
np.testing.assert_equal(dataset.shape[1], expected_total_columns)

In [72]:
# Test that the number of rows in the joined dataframe is less/equal to the rows
# in demographics (since we used inner join)
np.testing.assert_array_less(dataset.shape[0], demographics.shape[0])

<a id="7.2"> </a>
### 7.2: Automation ###

In [74]:
# Strip whitespace
for column in demographics.columns:
    try:
        demographics.loc[:,column] = demographics.loc[:,column].str.strip()
    except AttributeError:  # non-string columns
        pass

In [75]:
# In columns containing discrete data, replace invalid values with NaN
VALID_CODES = {
    'DMDBORN': [1, 2, 3, 7, 9],
    'DMDCITZN': [1, 2, 7, 9]
}
for column, values in VALID_CODES.items():
    valid_mask = demographics[column].isin(values)
    demographics.loc[~valid_mask, column] = np.nan

In [ ]:
# In colums containing a range of data, replace out-of-range values with NaN
VALID_RANGE = {
    'BMXWT': (0, 635),
    'BMXHT': (81.8, 201.3),
}
for column, values in VALID_RANGE.items():
    valid_mask = ((demographics[column] >= values[0])
               & (demographics[column] <= values[1]))
    demographics.loc[~valid_mask, column] = np.nan

In [78]:
# Remove columns that contain too many missing values
MAX_MISSING_PROPORTION = 0.3
non_missing_rows = demographics.count()
total_rows = len(demographics.index)
missing_rows = total_rows - non_missing_rows
missing_rows_proportion = missing_rows / total_rows

missing_mask = missing_rows_proportion > MAX_MISSING_PROPORTION
demographics.columns[missing_mask]

Index(['DMQMILIT', 'DMDBORN', 'DMDCITZN', 'DMDYRSUS', 'DMDEDUC3', 'DMDEDUC2',
       'DMDSCHOL', 'DMDMARTL', 'RIDEXPRG', 'RIDPREG', 'DMDHSEDU', 'DMAETHN',
       'DMARACE'],
      dtype='object')

<a id="8"> </a>
8: Feature Selection
-----------------------

- [8.1: Using statistical measures](#8.1)

<a id="8.1"> </a>
### 8.1: Using statistical measures ###

In [82]:
# Let's start by taking a look at the correlation between a few variables:
bmx_subset = bodymeasures[['BMXWT', 'BMXHT', 'BMXARMC']]
bmx_subset.corr()

            BMXWT     BMXHT   BMXARMC
BMXWT    1.000000  0.792439  0.962957
BMXHT    0.792439  1.000000  0.717806
BMXARMC  0.962957  0.717806  1.000000

In [85]:
# Here are all the correlations
correlations = bodymeasures.corr()
correlations

,SEQN,BMAEXLEN,BMAEXSTS,BMAEXCMT,BMXWT,BMIWT,BMXRECUM,BMIRECUM,BMXHEAD,BMIHEAD,...,BMISUB,BMAAMP,BMAUREXT,BMAUPREL,BMAULEXT,BMAUPLEL,BMALOREX,BMALORKN,BMALLEXT,BMALLKNE
SEQN,1.000000,-0.005587,0.006266,0.036363,0.010767,0.013072,-0.024519,NaN,0.070769,NaN,...,-0.035240,0.009234,NaN,NaN,NaN,NaN,NaN,NaN,0.206894,NaN
BMAEXLEN,-0.005587,1.000000,-0.261646,0.428511,0.341805,0.115279,0.283557,NaN,0.110186,NaN,...,0.139543,-0.004788,NaN,NaN,NaN,NaN,NaN,NaN,0.969201,NaN
BMAEXSTS,0.006266,-0.261646,1.000000,-0.166574,-0.014908,0.013982,0.050508,NaN,-0.105523,NaN,...,0.004511,0.000909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMAEXCMT,0.036363,0.428511,-0.166574,1.000000,0.099935,-0.808746,-0.697847,NaN,NaN,NaN,...,0.577288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMXWT,0.010767,0.341805,-0.014908,0.099935,1.000000,0.184963,0.939712,NaN,0.721255,NaN,...,0.256605,-0.008648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMIWT,0.013072,0.115279,0.013982,-0.808746,0.184963,1.000000,NaN,NaN,NaN,NaN,...,0.123560,-0.026430,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN
BMXRECUM,-0.024519,0.283557,0.050508,-0.697847,0.939712,NaN,1.000000,NaN,0.706535,NaN,...,-0.354630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMIRECUM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMXHEAD,0.070769,0.110186,-0.105523,NaN,0.721255,NaN,0.706535,NaN,1.000000,NaN,...,-1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMIHEAD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMXHT,-0.001174,0.184662,-0.016523,0.062168,0.792439,0.109128,0.976458,NaN,NaN,NaN,...,0.092885,-0.002982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMIHT,-0.051526,0.615852,-0.178542,NaN,0.576321,0.369100,NaN,NaN,NaN,NaN,...,0.320256,0.118033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMXBMI,0.006899,0.279071,0.012023,0.191413,0.906014,0.154363,0.159336,NaN,NaN,NaN,...,0.301004,-0.001487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMXLEG,0.002266,-0.083964,-0.031543,-0.132113,0.486128,-0.043251,NaN,NaN,NaN,NaN,...,0.140678,-0.000514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMILEG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMXCALF,0.009958,0.143398,0.003792,-0.070064,0.895057,0.227643,NaN,NaN,NaN,NaN,...,0.232566,-0.005131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMICALF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMXARML,0.006354,0.330139,-0.002776,0.130582,0.861377,-0.049869,0.929964,NaN,0.397712,NaN,...,0.141670,-0.012054,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMIARML,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMXARMC,0.006365,0.347563,0.002660,0.102023,0.962957,0.000552,0.585067,NaN,0.412563,NaN,...,0.271317,-0.012902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMIARMC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMXWAIST,0.011218,0.318607,0.024314,0.126165,0.940517,0.157830,0.544124,NaN,NaN,NaN,...,0.195269,-0.013594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMIWAIST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMXTHICR,0.010713,0.129172,-0.005438,-0.129982,0.873811,0.269685,NaN,NaN,NaN,NaN,...,0.253016,0.000895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMITHICR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMXTRI,0.019066,0.205449,0.007437,-0.497878,0.537412,0.025586,-0.152466,NaN,0.132426,NaN,...,0.186560,-0.011180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMITRI,-0.023872,0.523665,-0.050089,NaN,0.521638,0.144934,NaN,NaN,NaN,NaN,...,0.547548,0.050248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMXSUB,0.001507,0.298240,0.005941,NaN,0.717152,0.102542,-0.271859,NaN,0.017355,NaN,...,NaN,-0.014902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMISUB,-0.035240,0.139543,0.004511,0.577288,0.256605,0.123560,-0.354630,NaN,-1.000000,NaN,...,1.000000,0.015688,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMAAMP,0.009234,-0.004788,0.000909,NaN,-0.008648,-0.026430,NaN,NaN,NaN,NaN,...,0.015688,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMAUREXT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMAUPREL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMAULEXT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMAUPLEL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMALOREX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMALORKN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMALLEXT,0.206894,0.969201,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN
BMALLKNE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
# Let's get just the correlations against height
height_corrs = correlations.loc['BMXHT',:]
height_corrs

SEQN       -0.001174
BMAEXLEN    0.184662
BMAEXSTS   -0.016523
BMAEXCMT    0.062168
BMXWT       0.792439
BMIWT       0.109128
BMXRECUM    0.976458
BMIRECUM         NaN
BMXHEAD          NaN
BMIHEAD          NaN
BMXHT       1.000000
BMIHT            NaN
BMXBMI      0.502305
BMXLEG      0.787780
BMILEG           NaN
BMXCALF     0.529484
BMICALF          NaN
BMXARML     0.953757
BMIARML          NaN
BMXARMC     0.717806
BMIARMC          NaN
BMXWAIST    0.674774
BMIWAIST         NaN
BMXTHICR    0.443504
BMITHICR         NaN
BMXTRI      0.233100
BMITRI      0.293590
BMXSUB      0.427107
BMISUB      0.092885
BMAAMP     -0.002982
BMAUREXT         NaN
BMAUPREL         NaN
BMAULEXT         NaN
BMAUPLEL         NaN
BMALOREX         NaN
BMALORKN         NaN
BMALLEXT         NaN
BMALLKNE         NaN
Name: BMXHT, dtype: float64

In [87]:
# We can filter to just the strongly correlated relations
STRONG_CORRELATION = 0.7
strong_correlation_mask = (height_corrs > 0.7) | (height_corrs < -0.7)
height_corrs[strong_correlation_mask]

BMXWT       0.792439
BMXRECUM    0.976458
BMXHT       1.000000
BMXLEG      0.787780
BMXARML     0.953757
BMXARMC     0.717806
Name: BMXHT, dtype: float64

In [88]:
# Or we could just list the column names that match the criteria
bodymeasures.columns[strong_correlation_mask]

Index(['BMXWT', 'BMXRECUM', 'BMXHT', 'BMXLEG', 'BMXARML', 'BMXARMC'], dtype='object')

In [90]:
# Let's create a selection that comprises our mask plus the index column SEQN
selection_mask = strong_correlation_mask
selection_mask['SEQN'] = True

In [91]:
# Now we can create a new dataframe with just the selected columns
subset = bodymeasures.loc[:,selection_mask]
subset.describe()

,SEQN,BMXWT,BMXRECUM,BMXHT,BMXLEG,BMXARML,BMXARMC
count,9278.000000,9166.000000,1079.000000,8450.000000,7214.000000,8974.000000,8969.000000
mean,4992.804592,59.967574,80.244486,156.262888,39.916260,32.760464,28.053841
std,2869.638216,29.841072,13.927584,22.382665,4.149213,7.426678,7.472450
min,1.000000,3.100000,44.900000,81.800000,23.600000,9.100000,10.800000
25%,2517.250000,39.200000,69.150000,151.100000,37.400000,30.800000,22.800000
50%,4988.500000,63.000000,81.300000,161.800000,40.000000,35.100000,28.800000
75%,7482.750000,79.600000,91.800000,170.600000,42.700000,37.600000,33.200000
max,9965.000000,193.300000,110.300000,201.300000,55.000000,46.500000,58.200000